In [1]:
import pandas as pd
import numpy as np

In [2]:
data = {
    'Localização': ['BH', 'SP'],
    'Temperatura': ['Prevista', 'Atual'],
    'Set-2022': [30,27],
    'Out-2022': [32,24],
    'Nov-2022': [28,29],
}
data

{'Localização': ['BH', 'SP'],
 'Temperatura': ['Prevista', 'Atual'],
 'Set-2022': [30, 27],
 'Out-2022': [32, 24],
 'Nov-2022': [28, 29]}

In [3]:
df = pd.DataFrame(data, columns=['Localização', 'Temperatura', 'Set-2022', 'Out-2022', 'Nov-2022'])
df

  Localização Temperatura  Set-2022  Out-2022  Nov-2022
0          BH    Prevista        30        32        28
1          SP       Atual        27        24        29

In [7]:
df_melt = df.melt(id_vars=['Localização', 'Temperatura'], var_name="Date", value_name="Valor")
df_melt.sort_values(by=['Localização', 'Valor'])

  Localização Temperatura      Date  Valor
4          BH    Prevista  Nov-2022     28
0          BH    Prevista  Set-2022     30
2          BH    Prevista  Out-2022     32
3          SP       Atual  Out-2022     24
1          SP       Atual  Set-2022     27
5          SP       Atual  Nov-2022     29