In [1]:
import pandas as pd
import numpy as np

In [2]:
datas = pd.date_range('20200101', periods=6)
df = pd.DataFrame(abs(np.random.randn(6,4) *10), index=datas, columns=['Var_A','Vaer_B','Vaer_C','Var_D'])
df

                Var_A     Vaer_B     Vaer_C     Var_D
2020-01-01   2.839206   1.592846   8.029852  7.409573
2020-01-02   6.236051  11.358327   4.467539  3.242231
2020-01-03  24.918751   2.694771   0.909450  2.864294
2020-01-04   6.190920   1.865140  11.249445  2.544586
2020-01-05  12.316566   5.958246   3.795851  4.913782
2020-01-06   8.426682   3.892012   0.100795  5.133950

In [3]:
trans = df.T #Transpose
trans

        2020-01-01  2020-01-02  2020-01-03  2020-01-04  2020-01-05  2020-01-06
Var_A     2.839206    6.236051   24.918751    6.190920   12.316566    8.426682
Vaer_B    1.592846   11.358327    2.694771    1.865140    5.958246    3.892012
Vaer_C    8.029852    4.467539    0.909450   11.249445    3.795851    0.100795
Var_D     7.409573    3.242231    2.864294    2.544586    4.913782    5.133950

In [4]:
df.shape
trans.shape

(4, 6)

In [5]:
df.values #vetor

array([[ 2.83920567,  1.59284561,  8.02985246,  7.40957295],
       [ 6.23605101, 11.35832668,  4.467539  ,  3.24223056],
       [24.91875074,  2.6947711 ,  0.90945026,  2.86429404],
       [ 6.19091967,  1.86513988, 11.24944487,  2.54458597],
       [12.31656622,  5.95824608,  3.79585099,  4.91378229],
       [ 8.42668206,  3.89201242,  0.10079543,  5.13394986]])

In [6]:
v = df.values
v.reshape(2,12)

array([[ 2.83920567,  1.59284561,  8.02985246,  7.40957295,  6.23605101,
        11.35832668,  4.467539  ,  3.24223056, 24.91875074,  2.6947711 ,
         0.90945026,  2.86429404],
       [ 6.19091967,  1.86513988, 11.24944487,  2.54458597, 12.31656622,
         5.95824608,  3.79585099,  4.91378229,  8.42668206,  3.89201242,
         0.10079543,  5.13394986]])